mouse_mode true  // This is needed for selection to work properly
copy_command "wl-copy"

default_shell "nu"
default_mode "locked"
default_layout "compact"
theme "kanagawa_dragon"

scrollback_editor "/usr/bin/nvim"

// TODO: setup proper search/scroll

keybinds clear-defaults=true {
  shared {
    bind "Alt Q" { Quit; }
    bind "Alt D" { Detach; }
    bind "Alt q" { CloseFocus; }

    bind "Alt z" { ToggleFloatingPanes; }
    bind "Alt f" { ToggleFocusFullscreen; }

    bind "Alt e" { EditScrollback; SwitchToMode "Locked"; }

    bind "Alt =" "Alt +" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }

    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }

    bind "Alt Left" { MoveFocus "Left"; }
    bind "Alt Right" { MoveFocus "Right"; }
    bind "Alt Down" { MoveFocus "Down"; }
    bind "Alt Up" { MoveFocus "Up"; }

    bind "Alt h" { MovePane "Left"; }
    bind "Alt j" { MovePane "Down"; }
    bind "Alt k" { MovePane "Up"; }
    bind "Alt l" { MovePane "Right"; }

    bind "Alt w" {
      LaunchOrFocusPlugin "session-manager" {
        floating true
        move_to_focused_tab true
      };
      SwitchToMode "Locked"
    }
  }

  shared_except "Locked" {
    bind "Alt g" { SwitchToMode "Locked"; }
  }

  shared_except "Pane" {
    bind "Alt p" { SwitchToMode "Pane"; }
  }

  shared_except "Tab" {
    bind "Alt t" { SwitchToMode "Tab"; }
  }

  shared_except "Scroll" {
    bind "Alt /" { SwitchToMode "Scroll"; }
  }

  pane {
    bind "v" { NewPane "Right"; }
    bind "x" { NewPane "Down"; }
    bind "r" {
      SwitchToMode "RenamePane";
      PaneNameInput 0;
    }
    bind "Left" { Resize "Increase Left"; }
    bind "Down" { Resize "Increase Down"; }
    bind "Up" { Resize "Increase Up"; }
    bind "Right" { Resize "Increase Right"; }
  }

  renamepane {
    bind "Enter" { SwitchToMode "Pane"; }
    bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
  }

  tab {
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "n" { NewTab; }
    bind "x" { CloseTab; }
  }

  renametab {
    bind "Enter" { SwitchToMode "Tab"; }
    bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
  }
}

plugins {
  tab-bar location="zellij:tab-bar"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  compact-bar location="zellij:compact-bar"
  session-manager location="zellij:session-manager"
  welcome-screen location="zellij:session-manager" {
      welcome_screen true
  }
  filepicker location="zellij:strider" {
      cwd "/home/dmitry"
  }
}
